.login-head {
  font-size: 3rem;
  font-weight: 700;
}

.login-para {
  color: #313957;
}

.custom-input {
  font-size: 0.85rem !important;
  padding: 10px 15px !important;
  height: auto;
  color: gray;
  outline: none !important;
}

.custom-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-input::placeholder {
  color: gray;
  font-size: 0.9rem;
}

.pr-12 {
  padding-right: 12px !important;
}

.bg-none {
  background: none !important;
}

.bg-d-blue {
  background-color: #244761 !important;
}

.bg-purple {
  background-color: #5193d0 !important;
}

.bg-gray {
  background-color: #f8f8f8 !important;
}

.menu-link-active {
  border-radius: 15px;
  background: #8fadd5;
  color: white;
}

.custom-label {
  font-size: 14px;
  color: #000;
  line-height: 1;
  display: flex;
  align-items: center;
  padding-top: 3px;
  vertical-align: middle;
  margin-bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}
.border-none {
  border: none !important;
}
.font-14 {
  font-size: 14px;
}

.font-13 {
  font-size: 13px;
}

.font-16 {
  font-size: 16px;
}

.fs-10 {
  font-size: 2.5rem;
}

.fw-500 {
  font-weight: 500;
}

.color-blue {
  color: #004aad;
}

.bg-blue {
  background-color: #004aad !important;
}

.he-60 {
  height: 60px;
}

.w-200 {
  width: 200px;
}

.max-w-350 {
  max-width: 350px;
}

.lh-10 {
  line-height: 1.4;
}

.ls-md {
  letter-spacing: 0.5px;
}

.ps-6 {
  padding-left: 4rem !important;
}

.pad-4 {
  padding: 1.5rem !important;
}
.ps-2-5 {
  padding-left: 0.8rem !important;
}

.login-para {
  width: 50%;
}

.responsive-bg {
  padding: 1rem;
  border-radius: 10px !important;
}

.justify-responsive {
  justify-content: space-between !important;
}

.hover-underline:hover {
  text-decoration: underline !important;
}

.job-hover:hover {
  background-color: #244761 !important;
  color: white !important;
}

.job-hover:hover .job-date,
.job-hover:hover .job-preview,
.job-hover:hover h3 {
  color: white !important;
}

.btn-hover:hover {
  color: #000 !important;
  background-color: #f0f2f2 !important;
}

.hover-white:hover {
  color: white !important;
}

.job-list-scroll::-webkit-scrollbar {
  width: 9px;
}

.job-list-scroll::-webkit-scrollbar-thumb {
  background-color: #b3d8fe;
  border-radius: 8px;
}

.job-list-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.job-list-scroll {
  scrollbar-color: #b3d8fe transparent;
}

.job-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out; /* Smooth fade transition */
}

.job-modal-content {
  background: white;
  border-radius: 16px;
  margin: 0 auto;
  max-width: 500px;
  width: 95%;
  max-height: 600px;
  overflow-y: auto;
  padding-top: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  position: relative;
}

.job-modal-content::-webkit-scrollbar {
  display: none;
}

.job-header {
  background-color: #355591;
}

.date-range-box-2 {
  background-color: #e8f2fc !important;
  border: 1px solid #4f84ca !important;
}

.location-box {
  background-color: #343a40;
  color: white;
}

.job-contact-card {
  background: #274a8d;
  color: white;
  border-radius: 16px;
}

.job-rate-pill {
  background: #4597e0;
  border-radius: 16px;
  min-width: 130px;
  text-align: right;
}

.tabs-container {
  display: flex;
  background-color: #355591;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}

.tab-btn {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #5193d0;
  border: none;
  border-radius: 10px;

  padding: 0.5rem !important;
}

.tab-btn {
  margin: 0.5rem 0.5rem;
  padding: 0.8rem 0 !important;
  border: none;
}

.tab-btn.active {
  background-color: #5193d0;
}

.tab-btn:not(.active) {
  background-color: transparent;
}

.tabs-container button:hover {
  cursor: pointer;
}

.second-modal-content {
  padding: 20px;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden !important;
  border-radius: 30px 30px 0 0;
}

.second-modal-content::-webkit-scrollbar {
  width: 8px;
}

.second-modal-content::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 4px;
}

.second-modal-content::-webkit-scrollbar-thumb:hover {
  background: #b0b7b9;
}

.second-modal-content::-webkit-scrollbar-track {
  background: #b0b7b9;
}

.tabs-container2 {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}

.tab-btn2 {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  color: white;
  width: 50%;
  border: none;
  border-radius: 10px;
  padding: 0.2rem !important;
}

.tab-btn2.active {
  background-color: #2c4861 !important;
  color: #fff !important;
}

.tab-content2 {
  margin-top: 10px;
  margin: 0 20px;
}

.driver-row,
.company-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.driver-row .col,
.company-row .col {
  flex: 1;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}

.driver-row:nth-child(even),
.company-row:nth-child(even) {
  background-color: #244761;
  color: #fff !important;
}

.driver-row:nth-child(odd),
.company-row:nth-child(odd) {
  background-color: #e8f2fc;
  color: #000;
}

/* Network Modal */
.network-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}

.network-modal-overlay.fade-in {
  opacity: 1;
}

.network-modal-content {
  background: white;
  border-radius: 16px;
  margin: 0 auto;
  max-width: 500px;
  width: 95%;
  max-height: 600px;
  overflow-y: auto;
  padding-top: 24px;
  position: relative;
}

.network-modal-overlay.fade-out .network-modal-content {
  transform: translateY(20px);
  opacity: 1;
}
/* When the modal enters or exits, use the transition */

/* Styling for the checkboxes */
.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Add some margin and alignment to the network item */
.network-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.network-item .col {
  flex: 1;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  color: #3a3a3a;
  border-bottom: 1px solid #ddd;
}

/* Add alternating colors for even and odd items */
.network-item:nth-child(even) {
  background-color: #e8f2fc; /* Light blue for even rows */
  color: black;
}

.network-item:nth-child(odd) {
  background-color: #355591; /* Blue for odd rows */
  color: white;
}

/* Hover effect */
.network-item:hover {
  background-color: #cfe2f3; /* Highlight background on hover */
}

.network-modal-content::-webkit-scrollbar {
  width: 8px;
}

.network-modal-content::-webkit-scrollbar-thumb {
  background: #b3d8fe;
  border-radius: 4px;
}

.network-modal-content::-webkit-scrollbar-thumb:hover {
  background: #e5e5e5;
}

.network-modal-content::-webkit-scrollbar-track {
  background: #e5e5e5;
}

.job-invite-content {
  background: white;
  border-radius: 16px;
  padding: 2rem;
  margin: 2rem;
  overflow-y: auto;
  padding-top: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  position: relative;
}

.metismenu {
  background: none !important;
  position: static !important;
  font-family: "Outfit", sans-serif !important;
}

.sidebar #sidebar_menu > li ul {
  padding: 8px 3px 5px 20px !important;
}

.btn-info2 {
  color: #000 !important;
  border-color: #4f84ca !important;
  border-radius: 16px !important;
  background: #4f84ca !important;
  color: #fff !important;
  height: 65px !important;
  padding: 0px 50px 0px 50px !important;
  justify-content: flex-end !important;
  width: 100% !important;
  gap: 89.989px !important;
  flex-shrink: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
}

.form-check-input {
  width: 1em !important;
  height: 1em !important;
  margin-top: 0.25em !important;
  vertical-align: top !important;
  background-color: #fff !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
  fill: #405f75 !important ;
  stroke-width: 1px !important;
  stroke: #aeaeae !important;
  width: 34px !important;
  height: 34px !important;
}

.h-30{
  border-radius: 20px !important;
  height: 40px !important;
}

.btn-dark1 {
  color: #fff !important;
  background-color: #4e5456 !important;
  border-color: #4e5456 !important;
  border-radius: 25px !important;
}

.job-ticket2 {
  padding: 0.8rem 1.5rem !important;
}

.heading {
  line-height: 0 !important;
}

.sidebar {
  scrollbar-width: none;
}

.job-ticket4 {
  padding: .5rem 1.5rem !important;
}

.card-body{
  padding: 1rem !important;
}

.bg-yellow-400 {
  background-color: #facc15 !important;
}
.bg-lime-400 {
  background-color: #a3e635 !important;
}
.bg-green-300 {
  background-color: #86efac !important;
}
.bg-green-500 {
  background-color: #22c55e !important;
}


@media (max-width: 991px) {
  .responsive-bg {
    height: 100vh !important;
    object-fit: cover !important;
    background-position: left !important;
  }
  .fs-10 {
    font-size: 2rem;
  }
  .login-para {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .responsive-bg {
    padding: 0;
  }
  .pad-4 {
    padding: 0 !important;
  }
}

@media (max-width: 1099px) and (min-width: 992px) {
  .justify-responsive {
    justify-content: space-evenly !important;
  }
}
