.login-head {
  font-size: 3rem;
  font-weight: 700;
}

.login-para {
  color: #313957;
}

.custom-input {
  font-size: 0.85rem !important;
  padding: 10px 15px !important;
  height: auto;
  color: gray;
  outline: none !important;
}

.custom-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-input::placeholder {
  color: gray;
  font-size: 0.9rem;
}

.pr-12 {
  padding-right: 12px !important;
}

.bg-none {
  background: none !important;
}

.custom-label {
  font-size: 14px;
  color: #000;
  line-height: 1;
  display: flex;
  align-items: center;
  padding-top: 3px;
  vertical-align: middle;
  margin-bottom: 0;
}

.font-14 {
  font-size: 14px;
}

.font-13 {
  font-size: 13px;
}

.font-16 {
  font-size: 16px;
}

.fs-10 {
  font-size: 2.5rem;
}

.fw-500 {
  font-weight: 500;
}

.color-blue {
  color: #004aad;
}

.bg-blue {
  background-color: #004aad !important;
}

.he-60 {
  height: 60px;
}

.w-200 {
  width: 200px;
}

.max-w-350 {
  max-width: 350px;
}

.lh-10 {
  line-height: 1.4;
}

.ls-md {
  letter-spacing: 0.5px;
}

.ps-6 {
  padding-left: 4rem !important;
}

.pad-4 {
  padding: 1.5rem !important;
}
.ps-2-5 {
  padding-left: 0.8rem !important;
}

.login-para {
  width: 50%;
}

.responsive-bg {
  padding: 1rem;
  border-radius: 10px !important;
}

.justify-responsive {
  justify-content: space-between !important;
}

.hover-underline:hover {
  text-decoration: underline !important;
}

@media (max-width: 991px) {
  .responsive-bg {
    height: 100vh !important;
    object-fit: cover !important;
    background-position: left !important;
  }
  .fs-10 {
    font-size: 2rem;
  }
  .login-para {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .responsive-bg {
    padding: 0;
  }
  .pad-4 {
    padding: 0 !important;
  }
}

@media (max-width: 1099px) and (min-width: 992px) {
  .justify-responsive {
    justify-content: space-evenly !important;
  }
}
